<nav class="navbar navbar-expand-md navbar-light">
  <div class="container">
    <a routerLink="/admin" class="navbar-brand">
      <img src="assets/images/conservi.png" alt="company-logo" style="max-height: 60px;">
    </a>
    <button class="navbar-toggler" data-toggle="collapse"
      data-target="#navbarNav">
        <!-- the span with this class displays the sandwich  -->
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- the list of links  -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-5">
        <li class="nav-item">
          <a routerLink="corrida" routerLinkActive="active-link" class="nav-link">Corridas</a>
        </li>
        <li class="nav-item">
          <a routerLink="propiedades" routerLinkActive="active-link" class="nav-link">Propiedas</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">M & M Analisis</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Otros....</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div *ngIf="router.url === '/admin'" class="backend-container">

    <div class="container">
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="text-center col-md-8 col-sm-12 offset-md-2 mt-5">
              <h6 class="d-block">After feedback the latest corridas and propiedades will be displayed here on a map with own markers</h6>
            </div>
          </div>
          <div class="row">
            <div class="text-center col-md-8 col-sm-12 offset-md-2 mt-5">
              <button (click)="testFireBase()" type="button" class="btn btn-secondary btn-lg mr-4">Test Firebase</button>
              <button routerLink="corrida" type="button" class="btn btn-secondary btn-lg mr-4">Corrida</button>
              <button routerLink="propiedades" type="button" class="btn btn-secondary btn-lg mr-4">Propiedades</button>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="container">
          <div class="col-md-8 col-sm-12 offset-md-2 mt-2">
            <div class="row">
              <h3 class="text-center col-sm-12 mb-3">Project Information</h3>
            </div>
            <div class="row">
              <h6 class="d-inline col-md-3 offset-1">Project Platform: </h6>
              <h6 class="d-inline col-md-4 ml-2">Angular 6 </h6>
            </div>
            <div class="row">
              <h6 class="d-inline col-md-3 offset-1">Front-end Framework : </h6>
              <h6 class="d-inline col-md-4 ml-2">Bootstrap 4 </h6>
            </div>
            <div class="row">
              <h6 class="d-inline col-md-3 offset-1">Web Server: </h6>
              <h6 class="d-inline col-md-4 ml-2">Express JS </h6>
            </div>
            <div class="row">
              <h6 class="d-inline col-md-3 offset-1">Database: </h6>
              <h6 class="d-inline col-md-4 ml-2">Mongo DB </h6>
            </div>
            <div class="row">
              <h6 class="d-inline col-md-3 offset-1">User Authentication: </h6>
              <h6 class="d-inline col-md-4 ml-2">Firebase Auth. </h6>
            </div>
            <div class="row">
              <h6 class="d-inline col-md-3 offset-1">Maps: </h6>
              <h6 class="d-inline col-md-4 ml-2">Angular Google Maps (AGM) </h6>
            </div>

          </div>
        </div>
      </div>
    </div>

</div>

<div *ngIf="router.url !== '/admin'" class="backend-container pb-3">
  <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>
<!-- Copyright -->
<footer class="page-footer font-small blue pt-2 text-muted">
  <div class="footer-copyright text-center py-2">
    © 2018 Copyright: Grupo Conservi
  </div>
<!-- Copyright -->
</footer>
